body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
}

h1 {
    background-color: rgb(15, 228, 86);
    color: rgb(100, 1, 1);
    text-align: center;
    line-height: 1.1;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2rem 0;
}

#colorDisplay {
    font-size: 200%;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    background-color: white;
    transition: background-color 0.5s;
}

.container {
    max-width: 600px;
    margin: 2rem auto;
}

span {
    color:rgb(141, 0, 0);
}

#message {
    display: inline-block;
    width: 25%;
    color: steelblue;
    font-size: inherit;
    font-weight: 700;
}
#stripe {
    background-color: white;
    height: 2rem;
    text-align: center;
    color: black;
}

.selected {
    background-color: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    background: steelblue;
    color: white;
}